/* global.css */
:root {
  --primary-color: #c69749;
  --secondary-color: #b5843f;
  --bg-dark: #1b1b1b;
  --bg-darker: #111111;
  --text-color: #ffffff;
  --accent-color: #c69749;
  --transition-duration: 0.3s;
}

/* Default Dark Theme */
body {
  background-color: #000;
  color: var(--text-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
