/* global.css */
:root {
  --primary-color: #c69749;
  --secondary-color: #b5843f;
  --bg-dark: #1b1b1b;
  --bg-darker: #111111;
  --text-color: #ffffff;
  --accent-color: #c69749;
  --transition-duration: 0.3s;
}

/* Default Dark Theme */
body[data-theme="dark"] {
  background-color: #000;
  color: var(--text-color);
}

/* Light Theme Overrides */
body[data-theme="light"] {
  background-color: #f9f9f9;
  color: #333;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
